################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LiveCode
/.dockerignore
/LiveCode/bin/Debug/netcoreapp3.1
/LiveCode/obj
