@{
    ViewData["Title"] = "LiveCode";
    Layout = null;
}

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="~/css/home.css" rel="stylesheet" />
</head>
<body>
    <div style="">
        <div class="title">LiveCode</div>
        <div><a href="/Home/Session/@Guid.NewGuid()" class="btn btn-lg btn-outline-dark">New session</a></div>
    </div>
</body>
</html>